<h1></h1>

<%= form_tag "/staffs", method: :post do %>

  <div>
  Name: <input type="text" name="name">
  </div>

  <div>
  Organization: <input type="text" name="organization">
  
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>

  <div>
    Phone Number: <input type="text" name="phone_number">
  </div>

<div>
  <input type="submit" name="Add a Staff">
</div>
<% end %>
 






